<div class="row">
  <div class="col-md-6 offset-3">
    <%= simple_form_for(@participation) do |f| %>
      <%= f.input :description, as: :text, required: true %>
      <%= f.input :rating, :collection => [1, 2, 3, 4, 5], required: true %>
      <% if (@participation.gamenight.date < Time.now.to_date) && (@participation.rating.blank?) %>
        <%= f.submit "Note ta soirée" %>
      <% end %>
    <% end %>
  </div>
</div>
