// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$main-blue: #25ced1;
$main-white: #ffffff;
$main-beige: #fceade;
$main-orange: #ff8a5b;
$main-red: #ea526f;

