<div class="footer">
  <div>
   Mentions légales - CGU - CGV - Protection des données
  </div>
  <div class="footer-copyright">
    <img src="assets/ludinlogo.png" style="height: 30px;" alt="logo">
     © 2020 Ludin
  </div>
</div>

