<div class="footer">
  <div>
   <%= link_to "Contact", contact_path, class: "text-white" %> - Mentions légales - CGU - CGV - Protection des données
  </div>
  <div class="footer-copyright">
    <%= image_tag "ludinlogo.png", style: "height: 30px", alt: "logo" %>
      © 2020 Ludin
  </div>
</div>
