<div id="carouselExampleIndicators" class="banner carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="d-block w-100">
        <%= image_tag "games.jpg" %>
      </div>
    </div>
    <div class="carousel-item">
        <div class="carousel-caption">
        <h1>Tu veux louer un jeu ?</h1>
        <a id="lien" href="https://ludorent.herokuapp.com/">Retrouve nous sur Ludorent 😉 !</a>
         </div>
      <div class="d-block w-100">
        <%= image_tag "ami.jpg"%>
      </div>
    </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="container">
<div class="bg-light page-section">
  <div class="container text-center mt-3 mb-3">
    <h1 class="hello">Le Concept Ludin</h1>
    <p class="body"> Ludin à été crée dans le but de se faire rencontrer les ludophiles les plus prés de chez toi ! Marre de ne pas pouvoir tester ou jouer à ses jeux car il manque toujours Pierre ou Paul ? Postez une annonce, et rencontrer vos futurs partenaires de jeux !></p>
  </div>
  </div>
<section class="bg-light page-section" id="team">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase">La LudinTeam </h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://media-exp1.licdn.com/dms/image/C5603AQE-cZ6NtSOuCw/profile-displayphoto-shrink_200_200/0?e=1590624000&v=beta&t=uurZLfxIa_ylzf24p9owIVYjhL0IObfTK2cqUnDCuQQ" alt="">
            <h4>Kevin </h4>
            <p class="text-muted">Porteur de projet</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://github.com/Kraynaud">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/kevin-raynaud/">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://media-exp1.licdn.com/dms/image/C5603AQGookoe-K8dLw/profile-displayphoto-shrink_200_200/0?e=1590624000&v=beta&t=VF775I2vJEVdbh3NKuZA1T9pFujiBsj-rQZLdfAabtA" alt="">
            <h4>Bertrand</h4>
            <p class="text-muted">Developpeur fullstack</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://github.com/Bertrand-Bichat">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/bertrand-bichat/">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://media-exp1.licdn.com/dms/image/C4D03AQHaRXdyF-08Vw/profile-displayphoto-shrink_200_200/0?e=1590624000&v=beta&t=uRIR7DNeeNi0w3Bm5WF25en2KS07E-UZN8MCadyYy1Y" alt="">
            <h4>Seb</h4>
            <p class="text-muted">Front Developpeur</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://github.com/sebmcreations">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/sebmcreations/">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="team-member">
            <img class="mx-auto rounded-circle" src="https://media-exp1.licdn.com/dms/image/C5603AQHGtG5xDFaCoQ/profile-displayphoto-shrink_200_200/0?e=1590624000&v=beta&t=8NO3a_1xAB4VjMhqAicVwcRgipFyJJ9qaBui0tGT9dM" alt="">
            <h4>Eve </h4>
            <p class="text-muted">Developpeur fullstack</p>
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="https://github.com/eveuuh">
                  <i class="fab fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="www.linkedin.com/in/evejourdan">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-8 mx-auto text-center">
          <p class="large text-muted">N'hesitez pas à nous contacter via nos reseaux pour d'éventuelles collaborations!</p>
        </div>
      </div>
    </div>
  </section>
  </div>
</div>


