<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour <%= @contact.name %></h1>,
    <p>
      Votre message a bien été transmis à la LUDINTEAM. Vous devriez recevoir une réponse d'ici peu.
    </p>
  </body>
</html>
