<h1>Bonjour <%= @owner %>,</h1>
<p>
  <%= @user %> vous a laissé une note de <strong><%= @participation.rating %></strong>
</p>
  <% if @participation.description != nil %>
    <p>Ainsi que le commentaire suivant : "<%= @participation.decsription %>"</p>
  <% else %>
    <p>Vous n'avez pas de commentaire de se part</p>
  <% end %>
<p>La team de Ludin</p>
