<h1>Bonjour <%= @user %></h1>

<p>
  Vous avez oublié de laisser une note et un commentaire à <%= @owner %> pour sa soirée du <%= @gamenight.date %> à laquelle vous avez participé.
</p>
<p>Rendez-vous sur votre compte  <a href="https://www.ludin.fun/" style="text-decoration: none;">LUDIN</a> pour lui dire ce que vous avez pensé de sa gamenight</p>

<p>La team de Ludin</p>
