.mapboxgl-popup {
  max-width: 200px;
  border : solid 2px #EF629F;
  padding: 8px;
  border-radius: 5px;
  background:  $main-beige;
  color: $main-red;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(to bottom right, $main-beige, $main-red);

}

.main-container {
  display: flex;
}

#map {
  margin-top: 0px;
  height: 100vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width:40vw;
}
