.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(90deg, #f2709c, #ff9472);
  z-index: 1000;

}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 100px;
}

// ---------------------------------
.search-form-control {
  position: relative;
  width: 100%;
  color:#FADBD8;

}

.search-form-control .form-control {
  height: 3rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  color:#FADBD8;
}

.search-form-control .form-control:focus {
  border: 1px solid #1EDD88;
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  color:#FADBD8;

}

[placeholder] {
  font-style: italic;
  color:#ee6e73;
}

.form-control {
  // width: 200px;
  position:relative;
}

.fas.fa-search {
  text-align:right;
  cursor: pointer;
  // margin-right: 60px;
  // padding-right: 50px;
  // padding-bottom: 185px;
  display: flex;
  opacity: 1 !important;
  color: black;
}

.loupe-nav{
  display:flex;
  flex-direction:row;
}

// .recherche {
//   left:-180px;
// }


.white-loupe{
    // padding: -350px;
    background-color:rgba(255,255,255,.6)!important;
}
// ------------------------
.dropdown-menu {
  float: left;
  overflow: hidden;
  background-color:white;
}

a.dropdown-item{
  color: #494243!important;
}

a.dropdown-item:hover{
  background-color: #F7BDC5!important;

}

.dropdown-item:hover{
  color:#ee6e73!important;
  text-decoration: none;
}
// ------------------------


