a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: black;
}

h2 {
  margin : 30px 0;
}

//******************Buttons**************************//

.button1 {
  color: $main-blue;
  padding: 15px 25px;
  border-radius: 4px;
  border: solid 1px $main-blue;
  font-weight: bold;
  background: transparent;
  text-decoration: none;
}

.button1:hover {
  color: $main-white;
  background-color: $main-blue;
  text-decoration: none;
}

.button2 {
  color: $main-white;
  padding: 15px 25px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(to bottom right, $main-beige, $main-red);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  text-decoration: none;
}

.button2:hover {
  background: linear-gradient(to bottom right, $main-red, $main-beige);
  text-decoration: none;
  color: $main-white;
}

//******************Cards****************************//

.card-gamenight {
  opacity: 0.8;
  overflow: hidden;
  background: $main-white;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.card-gamenight:hover {
  opacity: 1;
  overflow: hidden;
  background: $main-beige;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-gamenight .category-tag {
  position: absolute;
  top: 10px; right: 30px;
  color: $main-white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: $main-blue;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  opacity: 1;
}

.card-gamenight > img {
  height: 150px;
  width: 100%;
  object-fit: cover;
}

.card-gamenight h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  color: $main-red;
}

.card-gamenight p {
  font-size: 12px;
  margin: 0;
  color: $main-red;
}

.card-gamenight .card-gamenight-infos {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-gamenight .card-gamenight-infos .game-infos-left {
  text-align: left;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-gamenight .card-gamenight-infos .game-infos-right {
  margin-top: 10px;
  text-align: right;
  display: flex;
  flex-direction: column;
  position: relative;
}

.card-gamenight-infos .card-gamenight-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

//******************Tags*****************************//

.tagcloud {
  line-height: 40px;
}

.tag {
  margin: 5px 5px;
  color: $main-white;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: $main-red;
  opacity: 0.6;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-decoration: none;
}

.tag:hover {
  opacity: 1;
  color: $main-white;
  text-decoration: none;
}

.new-tag {
  margin: 5px 5px;
  color:$main-red;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: $main-beige;
  opacity: 0.6;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-decoration: none;
}

.new-tag:hover {
  opacity: 1;
  color: $main-red;
  text-decoration: none;
}

//******************Avatar***************************//

.avatar1{
  width: 60px;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: solid 2px $main-red;
}

.avatar2 {
  width: 80px;
  height: 80px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border: solid 2px $main-red;
}

//*******************Gametile****************************//

.gamenight {
  background-color: $main-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.gamenight:hover {
  background: $main-beige;
}

.gamenight:hover .gamenight-upvote {
  font-size: 25px;
}

.gamenight-upvote {
  font-size: 20px;
  padding: 20px;
  transition: all 0.3s ease;
}

.gamenight-description {
  flex: 1 0 auto;
  padding: 20px;
  line-height: 1px;
}

.gamenight-controls a {
  font-size: 15px;
  color: #CCCCCC;
  transition: all 0.3s ease;
}

.gamenight-controls a:hover {
  font-size: 18px;
  color: $main-red;
}

//*******************Participation****************************//

.participation-tile {
  background-color: $main-white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  transition: all 0.3s ease;
  border-radius: 3px;
}

.participation-tile:hover {
  background: $main-beige;
}

.participation-tile:hover .participation-upvote {
  font-size: 25px;
}

.participation-upvote {
  font-size: 20px;
  padding: 20px;
  transition: all 0.3s ease;
}

.participation-description {
  flex: 1 0 auto;
  padding: 20px;
  line-height: 1px;
}

.participation-controls a {
  font-size: 15px;
  color: #CCCCCC;
  transition: all 0.3s ease;
}

.participation-controls a:hover {
  font-size: 18px;
  color: $main-red;
}

.participation-specs{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}

.owner {
  display: flex;
  align-items: center;

  img {
    margin-right: 15px;
    margin-bottom: 10px;
  }

  h3 {
    margin-right: 15px;
  }
}

.place {
  display: flex;
  align-items: center;

  p{
    margin-right: 10px;
  }
}

//*******************Tabs****************************//

#dashboard-nav {
  color: white;
  display: flex;
  line-height: 30px;
}

#dashboard-nav h3 {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
}

.tab-item {
  background: $main-white;
  flex: 0 0 50%;
  text-align: center;
  border: solid 1px $main-red;
  a {
    color: $main-red;
  }
}

.tab-item:first-child {
  border-radius: 10px 0 0 0;
}
.tab-item:last-child {
  border-radius: 0 10px 0 0;
}

.tab-item.active {
  background: $main-beige;
  border: none;
  a {
    color: $main-red;
    outline: none;
  }
}


//*******************Game Modal****************************//

#game-modal {
  border: solid 1px $main-red;
  border-radius: 4px;
  background-color: $main-white;
}

.modal-details {
  border-top: solid 1px #dee2e6;
  position: relative;
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  padding: 1rem;
  box-sizing: border-box;
}

.game-modal-button {
  margin: 5px 5px;
  color: $main-white;
  padding: 10px 15px;
  border-radius: 4px;
  background-color: $main-red;
  opacity: 0.6;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-decoration: none;
}

.game-modal-button:hover {
  opacity: 1;
  color: $main-white;
  text-decoration: none;
}

//*******************Location Modal****************************//
