<div class="container">
<div class="row">
  <div class="col-md-6 offset-3 form">
    <h1 class="title">Ajoute un lieu </h1>
    <%= simple_form_for(location) do |f| %>
      <%= f.input :name, :label => "Nom" %>
      <%= f.input :address, :label => "Adresse", input_html: { id: 'address-input' } %>
      <%= f.submit "Enregistrer", class: "button-form"%>
    <% end %>
  </div>
</div>
</div>

<!-- Algolia address autocomplete -->
<script src="https://cdn.jsdelivr.net/npm/places.js@1.18.2"></script>
<script>
  var placesAutocomplete = places({
    appId: "plYI1KLXV8NB",
    apiKey: "81ab4696e2e7ddfbb084aa7725fd0752",
    container: document.querySelector('#address-input')
  });
</script>
